.notfound p {
  font-family: cursive;
  font-size: 130px;
  margin: 10vh 0 0;
  text-align: center;
  letter-spacing: 5px;
  background-color: black;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.notfound code {
  color: #bdbdbd;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 0 30px 25px;
}
.notfound code span {
  color: #f0c674;
}
.notfound code em {
  color: #b294bb;
  font-style: unset;
}
.notfound a {
  color: #8abeb7 !important;
  font-family: monospace;
  font-size: 20px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .notfound p {
    font-size: 14vw;
  }
}
